@font-face {
  font-family: "Be Vietnam Pro Regular";
  src: local("Be Vietnam Pro Regular"), url("../fonts/BeVietnamPro-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Be Vietnam Pro Medium";
  src: local("Be Vietnam Pro Medium"),  url("../fonts/BeVietnamPro-Medium.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Be Vietnam Pro Bold";
  src: local("Be Vietnam Pro Bold"), url("../fonts/BeVietnamPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

