// Fonts
$font-family-base: "Be Vietnam Pro Regular", sans-serif;
$font-family-base-medium: "Be Vietnam Pro Medium", sans-serif;
$font-family-base-bold: "Be Vietnam Pro Bold", sans-serif;

// Breakpoints
$breakpoint-desktop: "1200px";
$breakpoint-tablet: "992px";
$breakpoint-mobile: "768px";

// Colors
$platinum: #EAEAEA;
$xiketic: #161628;
$oxford-blue: #16213e;
$space-cadet: #1D1D34;
$prussian-blue: #0f3460;
$paradise-pink: #e94560;
