#footer {
  border-top: 1px solid rgba(114, 114, 126, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  .rights {
    h1 {
      font-size: 16px;
      color: $platinum;
    }
    small {
      font-size: 12px;
      color: $platinum;
    }
  }
}